body{
    background-image: url("../images/img1.jpg")
}
header{
    background-color: black;
     padding: 20px;
     width: 100%;
}
h1{
    font-family: cursive;
    text-align: center;
    color: cornflowerblue;
    font-weight: bold;
}
.container{
    width: 90%;
    padding: 20px;
    background-color: aliceblue;
    height: auto;
   
}
p{
    font-size: 16px;
    font-weight: bold;
}
#display{
    text-align: right;
    color: lightcoral;
}
form{
    padding: 20px;
    margin-left: 20px;

}

#timeOff{
    text-align: center;
    font-size: 40px;
    height: 900px;
}

#show{
    margin-top: 20px;
    

}
#result{
    text-align: center;
    font-size: 20px;
    color: rgb(81, 128, 35);

}
